{% load static %}

    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <!-- Animate Min CSS ****-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Flaticon CSS ****-->
    <link rel="stylesheet" href="{% static 'fonts/flaticon.css' %}">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
    <!-- Magnific Popup CSS**** -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="{% static 'css/nice-select.min.css' %}">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS ****-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="{% static 'css/rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-dark.css' %}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/Appliances-512-2884237941.png' %}">

