{% load static %}
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="index-2.html" class="logo">
            <img src="{% static 'images/logos/logo-1.png' %}" alt="Logo">
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index-2.html">
                    <img src="{% static 'images/logos/logo-1.png' %}" alt="Logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                خانه
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index-2.html" class="nav-link active">
                                        خانه یک
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-3.html" class="nav-link">
                                        خانه دو
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-4.html" class="nav-link">
                                        خانه سه
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                صفحات
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        درباره ما
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        فروشگاه
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop-details.html" class="nav-link">
                                                جزییات محصول
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-details-left-sidebar.html" class="nav-link">
                                                جزییات محصول با سایدبار چپ
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-details-right-sidebar.html" class="nav-link">
                                                جزییات محصول با سایدبار راست
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="tracking-order.html" class="nav-link">
                                                پیگیری سفارش
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="size-guides.html" class="nav-link">
                                                راهنمای سایزبندی
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="customer-services.html" class="nav-link">
                                                خدمات مشتری
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="compare.html" class="nav-link">
                                                مقایسه
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">
                                                سبد خرید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">
                                                ادامه خرید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="wishlist.html" class="nav-link">
                                                علاقه‌مندی‌ها
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="my-account.html" class="nav-link">
                                                اکانت من
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">
                                        پرسش و پاسخ </a>
                                </li>

                                <li class="nav-item">
                                    <a href="team.html" class="nav-link">
                                        تیم
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="testimonials.html" class="nav-link">
                                        رضایت مشتریان
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        کاربر
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="log-in.html" class="nav-link">
                                                ورود
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">
                                                ثبت‌نام
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="forget-password.html" class="nav-link">
                                                فراموشی رمزعبور
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="terms-condition.html" class="nav-link">
                                        شرایط و مقررات
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">
                                        سیاست حریم شخصی
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">
                                        404 صفحه
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="search-page.html" class="nav-link">
                                        صفحه جستجو
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="coming-soon.html" class="nav-link">
                                        به زودی
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                فروشگاه
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                {% for item in categories %}
                                    {% if not item.parent %}
                                        {% if item.children.all %}
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    {{ item }}
                                                    <i class='bx bx-chevron-down'></i>
                                                </a>
                                                {% include 'includes/sub_cat.html' %}
                                            </li>
                                        {% else %}
                                            <li class="nav-item">
                                                <a href="shop-left-sidebar.html" class="nav-link">
                                                    {{ item }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                دسته‌بندی
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="categories-1.html" class="nav-link">
                                        دسته‌بندی(2 در صف)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="categories-2.html" class="nav-link">
                                        دسته‌بندی (3 در صف)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="categories-full-width.html" class="nav-link">
                                        دسته‌بندی تمام عرض
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                بلاگ
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog-1.html" class="nav-link">
                                        بلاگ استایل یک
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-2.html" class="nav-link">
                                        بلاگ استایل دو
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">
                                        بلاگ جزییات
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                ارتباط با ما
                            </a>
                        </li>

                        <li class="nav-item-btn ">
                            <a href="{% url "account:login" %}" class="default-btn border-radius-5 btn-bg-one">وارد
                                شوید</a>
                        </li>
                    </ul>

                    <div class="nav-btn">
                        <a href="{% url "account:login" %}" class="default-btn border-radius-5 btn-bg-one">وارد
                            شوید</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>