{% extends 'master.html' %}
{% load static %}
{% block title %} فروشگاه دانا | DaNa{% endblock %}
{% block content %}
    <!-- Banner Area -->
    <div class="banner-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="banner-content-area">
                        <div class="banner-content">
                            <span>20UNH22U رولکس 1002 ، کد </span>
                            <h1> اولکس ، بهترین راه برای خرید </h1>
                            <p>این یکی از بهترین روش های مناسب و مناسب برای خرید محصول با قیمت مناسب و مناسب است.</p>
                            <a href="shop-details.html" class="default-btn btn-bg-one border-radius-5">خرید</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="banner-img-area">
                        <div class="banner-img">
                            <img src="{% static 'images/home-one/home-one1.png' %}" alt="Images">
                            <div class="banner-offer-tag">
                                <h3>60%</h3>
                                <span>پیشنهاد</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->

    <!-- Product New Arrival  -->
    <section class="product-new-arrival pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3">
                    <div class="section-title">
                        <h2>تازه رسیده ها</h2>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9">
                    <ul class="filter-menu">
                        <li class="filter active" data-filter="all">همه محصولات</li>
                        <li class="filter" data-filter=".television">تلویزیون</li>
                        <li class="filter" data-filter=".lamp">لامپ</li>
                        <li class="filter" data-filter=".smartphone">گوشی همراه</li>
                        <li class="filter" data-filter=".camera">دوربین</li>
                    </ul>
                </div>
            </div>
            <hr class="line-bottom">

            <div id="Container" class="row">
                <div class="col-lg-3 col-sm-6 mix smartphone">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img1.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">هدفون سنهیزر</a></h3>
                            <span>کد محصول # 20UN23HU</span>
                            <div class="price-tag">
                                <h4>120 تومان
                                    <del>159 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>

                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix smartphone television camera">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img2.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">نیکون پی-1000</a></h3>
                            <span>کد محصول # 30PN23HU</span>
                            <div class="price-tag">
                                <h4>999 تومان
                                    <del>1050 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix smartphone lamp camera">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img3.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">گوشی سنهیزر</a></h3>
                            <span>کد محصول # 40PN24LU</span>
                            <div class="price-tag">
                                <h4>320 تومان
                                    <del>340 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix smartphone television">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img4.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">ای واچ گالری</a></h3>
                            <span>کد محصول # 40PN24LU</span>
                            <div class="price-tag">
                                <h4>310 تومان
                                    <del>340 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix lamp camera">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img5.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">توستر کلور 3569</a></h3>
                            <span>کد محصول # 70PN24LU</span>
                            <div class="price-tag">
                                <h4>129 تومان
                                    <del>159 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix television lamp">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img6.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">بریویل گیو بلندر</a></h3>
                            <span>کد محصول # 60PN14LU</span>
                            <div class="price-tag">
                                <h4>129 تومان
                                    <del>159 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix lamp ">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img7.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">الکتریک هاتپات</a></h3>
                            <span>کد محصول # 60PN14LU</span>
                            <div class="price-tag">
                                <h4>300 تومان
                                    <del>340 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mix television camera">
                    <div class="arrival-product">
                        <div class="arrival-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/product-img8.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">میکرو اون سمی</a></h3>
                            <span>کد محصول # 20PN10LU</span>
                            <div class="price-tag">
                                <h4>400 تومان
                                    <del>500 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top"
                                       title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                       data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product New Arrival End -->

    <!-- Product Category Area -->
    <div class="product-category-area">
        <div class="container-fluid">
            <div class="section-max-bg pt-100 pb-70">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="section-title">
                                <h2>محصولات بر اساس دسته‌بندی</h2>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="product-category-form">
                                <select class="form-control">
                                    <option>دسته‌بندی</option>
                                    <option>الکترونیکی</option>
                                    <option>کودک و نوزاد</option>
                                    <option>کفش و لباس</option>
                                    <option>سلامت و زیبایی</option>
                                    <option>سرگرمی و هنر</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-45">
                        <div class="col-lg-9">
                            <div class="product-category-bg-card">
                                <div class="content">
                                    <span>این محصول را با قیمت پیشنهادی دریافت کنید</span>
                                    <h3>بزرگترین پیشنهاد فروش فقط در تاریخ 30 آذر</h3>
                                    <p>حداکثر 55٪ تخفبف</p>
                                    <a href="#" class="default-btn border-radius-5 btn-bg-one">شروع کنید</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="product-category-card">
                                <div class="product-category-img">
                                    <a href="shop-details.html">
                                        <img src="{% static 'images/products/product-img9.png' %}" alt="تصویر محصول">
                                    </a>
                                    <div class="new-tag">
                                        <h3>جدید</h3>
                                    </div>
                                    <ul class="product-category-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top"
                                               title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                               data-toggle="modal" data-target="#productsQuickView">
                                                <i class='bx bx-show-alt'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <h3><a href="shop-details.html">تی-710 ایرفون</a></h3>
                                    <span>کد محصول # 27PN10LU</span>
                                    <div class="price-tag">
                                        <h4>120 تومان
                                            <del>140 تومان</del>
                                        </h4>
                                    </div>

                                    <div class="add-btn">
                                        <a href="shop-details.html" class="add-cart-btn">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="product-category-card">
                                <div class="product-category-img">
                                    <a href="shop-details.html">
                                        <img src="{% static 'images/products/product-img10.png' %}" alt="تصویر محصول">
                                    </a>
                                    <div class="new-tag">
                                        <h3>جدید</h3>
                                    </div>
                                    <ul class="product-category-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top"
                                               title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                               data-toggle="modal" data-target="#productsQuickView">
                                                <i class='bx bx-show-alt'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <h3><a href="shop-details.html">ساعت هوشمند مشکی</a></h3>
                                    <span>کد محصول # 67HN10LU</span>
                                    <div class="price-tag">
                                        <h4>100 تومان
                                            <del>120 تومان</del>
                                        </h4>
                                    </div>

                                    <div class="add-btn">
                                        <a href="shop-details.html" class="add-cart-btn">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="product-category-card">
                                <div class="product-category-img">
                                    <a href="shop-details.html">
                                        <img src="{% static 'images/products/product-img11.png' %}" alt="تصویر محصول">
                                    </a>
                                    <div class="new-tag">
                                        <h3>جدید</h3>
                                    </div>
                                    <ul class="product-category-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top"
                                               title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                               data-toggle="modal" data-target="#productsQuickView">
                                                <i class='bx bx-show-alt'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <h3><a href="shop-details.html">سونی ایکس ایرفون</a></h3>
                                    <span>کد محصول # 47PN20LU</span>
                                    <div class="price-tag">
                                        <h4>240 تومان
                                            <del>270 تومان</del>
                                        </h4>
                                    </div>

                                    <div class="add-btn">
                                        <a href="shop-details.html" class="add-cart-btn">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="product-category-card">
                                <div class="product-category-img">
                                    <a href="shop-details.html">
                                        <img src="{% static 'images/products/product-img12.png' %}" alt="تصویر محصول">
                                    </a>
                                    <div class="new-tag">
                                        <h3>جدید</h3>
                                    </div>
                                    <ul class="product-category-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top"
                                               title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                               data-toggle="modal" data-target="#productsQuickView">
                                                <i class='bx bx-show-alt'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <h3><a href="shop-details.html">بریویل گیو بلندر</a></h3>
                                    <span>کد محصول # 47GN10HU</span>
                                    <div class="price-tag">
                                        <h4>700 تومان
                                            <del>800 تومان</del>
                                        </h4>
                                    </div>

                                    <div class="add-btn">
                                        <a href="shop-details.html" class="add-cart-btn">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 offset-lg-0 offset-sm-3">
                            <div class="product-category-card">
                                <div class="product-category-img">
                                    <a href="shop-details.html">
                                        <img src="{% static 'images/products/product-img13.png' %}" alt="تصویر محصول">
                                    </a>
                                    <div class="new-tag">
                                        <h3>جدید</h3>
                                    </div>
                                    <ul class="product-category-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top"
                                               title="افزودن در علاقه‌مندی‌ها"><i class='bx bx-heart'></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="نمایش سریع"
                                               data-toggle="modal" data-target="#productsQuickView">
                                                <i class='bx bx-show-alt'></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <h3><a href="shop-details.html">لنووو لپتاپ</a></h3>
                                    <span>کد محصول # 47GN10HU</span>
                                    <div class="price-tag">
                                        <h4>1200 تومان
                                            <del>1400 تومان</del>
                                        </h4>
                                    </div>

                                    <div class="add-btn">
                                        <a href="shop-details.html" class="add-cart-btn">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Category Area End -->

    <!-- Other Product Area End -->
    <div class="other-product-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="other-product-card">
                        <img src="{% static 'images/products/smart-tv.png' %}" alt="Images">
                        <div class="content">
                            <h3>تلویزیون <b>هوشمند</b></h3>
                            <span>حالا در 5 کی نتورک</span>
                        </div>

                        <div class="price-title">
                            <h2><sup>از <sup class="sup-text">99</sup></sup> 877 تومان</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="other-product-champaign">
                                <div class="content">
                                    <span>شروع از</span>
                                    <h2>80 تومان </h2>
                                    <h3>خرید رایگان در کمپین</h3>
                                </div>
                                <div class="product-champaign-img">
                                    <img src="{% static 'images/products/product-img1.png' %}" alt="Images">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="other-product-list">
                                <i class='bx bx-shopping-bag'></i>
                                <h3> تخفیف خرید </h3>
                                <p>
                                    این یکی از بزرگترین و بزرگترین فروش بهترین محصولات این محصول است.
                                    شما به راحتی می توانید این محصول را از یک پیشنهاد ویژه خریداری کنید و این واقعاً
                                    موثر است.
                                </p>
                                <a href="#" class="default-btn border-radius-5">شروع کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Other Product Area End -->

    <!-- Choose Area -->
    <div class="choose-area pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2> چرا ما را انتخاب کنید </h2>
            </div>
            <div class="row pt-45">
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-card">
                        <i class="flaticon-return"></i>
                        <h3> بازگشت آسان </h3>
                        <p>
                            بازگشت 20 روزه بدون پرسش و سوال ، با خیال راحت. این یکی از بهترین پیشنهادات برای شما است.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="choose-card">
                        <i class="flaticon-verified"></i>
                        <h3> پرداخت امن </h3>
                        <p>
                            بازگشت 20 روزه بدون پرسش و سوال ، با خیال راحت. این یکی از بهترین پیشنهادات برای شما است.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                    <div class="choose-card">
                        <i class="flaticon-planet-earth"></i>
                        <h3> خرید جهانی </h3>
                        <p>
                            بازگشت 20 روزه بدون پرسش و سوال ، با خیال راحت. این یکی از بهترین پیشنهادات برای شما است.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Area End -->

    <!-- Product Offer Area -->
    <div class="product-offer-area">
        <div class="container-fluid">
            <div class="section-max-bg pt-100 pb-70">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="offer-card">
                                <h2>این یکی از بزرگترین پیشنهادات است</h2>
                                <h3>330 تومان
                                    <del>500 تومان</del>
                                </h3>
                                <p>این یکی از بزرگترین و بزرگترین فروش این بهترین محصول است. شما به راحتی می توانید این
                                    محصول را از یک پیشنهاد ویژه خریداری کنید و این واقعاً موثر است.</p>
                                <div id="timer">
                                    <div id="seconds"></div>
                                    <div id="minutes"></div>
                                    <div id="hours"></div>
                                    <div id="days"></div>
                                </div>
                                <a href="shop-details.html" class="default-btn btn-bg-one border-radius-5">خرید</a>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="offer-slider owl-carousel owl-theme">
                                <div class="offer-img-item">
                                    <img src="{% static 'images/offer-img/offer-img1.jpg' %}" alt="Offer Images">
                                    <div class="offer-tag">
                                        <h3>60%</h3>
                                        <span>پیشنهاد</span>
                                    </div>
                                </div>

                                <div class="offer-img-item">
                                    <img src="{% static 'images/offer-img/offer-img2.jpg' %}" alt="Offer Images">
                                    <div class="offer-tag">
                                        <h3>50%</h3>
                                        <span>پیشنهاد</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Offer Area End -->

    <!-- Best Sell Area -->
    <div class="best-sell-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-6">
                    <div class="section-title">
                        <h2>محصولات پرفروش</h2>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="product-search-form">
                        <input type="search" class="form-control" placeholder="جستجو محصولات">
                        <button type="submit">
                            <i class="bx bx-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row pt-45">
                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product1.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">هیرز 7.5 کیلوگرم قسطی</a></h3>
                            <span>کد محصول # 47GN10HU</span>
                            <div class="price-tag">
                                <h4>129 تومان
                                    <del>159 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product2.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">دی اس تلویزیون</a></h3>
                            <span>کد محصول # 57GN10HU</span>
                            <div class="price-tag">
                                <h4>149 تومان
                                    <del>169 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product3.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">رنجز التی دی یخچال</a></h3>
                            <span>کد محصول # 57GN10HU</span>
                            <div class="price-tag">
                                <h4>1400 تومان
                                    <del>1600 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product4.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">الکتریک ایکس فالکس</a></h3>
                            <span>کد محصول # 57GN10HU</span>
                            <div class="price-tag">
                                <h4>200 تومان
                                    <del>300 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product5.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">چایساز میکسر</a></h3>
                            <span>کد محصول # 67GN10HU</span>
                            <div class="price-tag">
                                <h4>1000 تومان
                                    <del>1400 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product6.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">الکترونیک مینی میکسر</a></h3>
                            <span>کد محصول # 67GN40HU</span>
                            <div class="price-tag">
                                <h4>220 تومان
                                    <del>200 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product7.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">پیروت واتر کاسر</a></h3>
                            <span>کد محصول # 67GN40HU</span>
                            <div class="price-tag">
                                <h4>210 تومان
                                    <del>220 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="best-sell-card">
                        <div class="best-sell-img">
                            <a href="shop-details.html">
                                <img src="{% static 'images/products/best-sell-product8.png' %}" alt="تصویر محصول">
                            </a>
                            <div class="new-tag">
                                <h3>جدید</h3>
                            </div>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">میکرو اون سمی</a></h3>
                            <span>کد محصول # 57GN30HU</span>
                            <div class="price-tag">
                                <h4>888 تومان
                                    <del>900 تومان</del>
                                </h4>
                            </div>

                            <div class="add-btn">
                                <a href="shop-details.html" class="add-cart-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Best Sell Area End -->

    <!-- Blog Area -->
    <div class="blog-area pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>بلاگ ما</h2>
            </div>

            <div class="row pt-45">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="{% static 'images/blog/blog-img1.jpg' %}" alt="Blog Images">
                            </a>
                            <div class="blog-date">27 آذر</div>
                        </div>

                        <div class="content">
                            <h3><a href="blog-details.html">در اپل واچ در مارکت 25٪ تخفیف بگیرید</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="blog-details.html" class="read-btn">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-card">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="{% static 'images/blog/blog-img2.jpg' %}" alt="Blog Images">
                            </a>
                            <div class="blog-date">29 آذر</div>
                        </div>

                        <div class="content">
                            <h3><a href="blog-details.html">چرخ دنده های بازی می توانند در محدوده قیمت مناسب خریداری
                                کنند</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="blog-details.html" class="read-btn">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="blog-card">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="{% static 'images/blog/blog-img3.jpg' %}" alt="Blog Images">
                            </a>
                            <div class="blog-date">25 آذر</div>
                        </div>

                        <div class="content">
                            <h3><a href="blog-details.html">بیایید با یک ساعت مچی مارک جدید آشنا شویم</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.</p>
                            <a href="blog-details.html" class="read-btn">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Area End -->
{% endblock %}