{% extends 'master.html' %}
{% load static %}
{% block title %}ورود به حساب{% endblock %}
{% block content %}
    <!-- User Area -->
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="user-width">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="user-content">
                            <h2>سلام</h2>
                            <p>شما به راحتی در هر زمانی میتوانید در سایت ما ثبت نام کنید</p>
                            <a href="register.html" class="user-btn">ثبت نام</a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="user-form">
                            <h2>ورود</h2>
                            <form method="post">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <i class='bx bx-user'></i>
                                            <div>
                                                {% if form.phone.errors %}
                                                    <div class="alert alert-danger"> {{ form.phone.errors }} </div>
                                                {% endif %}
                                            </div>
                                            {{ form.phone }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <i class='bx bx-lock'></i>
                                            <div>
                                                {% if form.password.errors %}
                                                    <div class="alert alert-danger"> {{ form.password.errors }} </div>
                                                {% endif %}
                                            </div>
                                            {{ form.password }}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 form-condition">
                                        <div class="agree-label">
                                            <input type="checkbox" id="chb1">
                                            <label for="chb1">
                                                مرا به خاطر بسپار<a class="forget" href="forget-password.html">فراموشی
                                                رمز عبور؟</a>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three">
                                            ورود
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Area End -->
{% endblock %}