{% extends "master.html" %}
{% load static %}
{% block title %}ثبت نام | Register{% endblock %}
{% block content %}
    <!-- Inner Banner Area -->
    <div class="inner-banner-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="inner-banner-content">
                        <h2>ثبت‌نام</h2>
                        <ul>
                            <li><a href="{% url 'Home:main' %}">خانه</a></li>
                            <li><i class='bx bx-chevron-left'></i></li>
                            <li><a href="register.html" class="active">ثبت‌نام</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="inner-banner-img">
                        <img src="assets/images/inner-banner/inner-banner9.png" alt="Inner Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner Area End -->

    <!-- User Area -->
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="user-width">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="user-content">
                            <h2>سلام</h2>
                            <p>در هر زمان به راحتی می توانید در حساب خود ثبت نام کنید.</p>
                            <a href="log-in.html" class="user-btn">وارد شوید</a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="user-form">
                            <h2>ثبت‌نام کنید</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <i class='bx bx-user'></i>
                                            <div>
                                                {% if form.randcode.errors %}
                                                    <div class="alert alert-danger"> {{ form.randcode.errors }} </div>
                                                {% endif %}
                                            </div>
                                            {{ form.randcode }}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three">
                                            ثبت نام
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Area End -->
{% endblock %}