{% extends 'master.html' %}
{% load i18n %}
{% block title %} لیست محصولات | list {% endblock %}
{% load static %}
{% block content %}
    <!-- Inner Banner Area -->
    <div class="inner-banner-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="inner-banner-content">
                        <h2>فروشگاه با سایدبار چپ</h2>
                        <ul>
                            <li><a href="index-2.html">خانه</a></li>
                            <li><i class='bx bx-chevron-left'></i></li>
                            <li><a href="shop-right-sidebar.html" class="active">فروشگاه با سایدبار چپ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="inner-banner-img">
                        <img src="{% static 'images/inner-banner/shopping isometric shopping cart_5324780(1).png' %}" alt="Inner Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner Area End -->

    <!-- Product Area -->
    <div class="product-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-topper">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="product-topper-title">
                                    <h3>مشاهده تمام محصولات<span>( نمایش 15-1 از 120 نتیجه )</span></h3>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="product-category">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>دسته‌بندی</option>
                                            <option>الکترونیکی</option>
                                            <option>کودک و نوزاد</option>
                                            <option>کفش و لباس</option>
                                            <option>سلامت و زیبایی</option>
                                            <option>سرگرمی و هنر</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for item in object_list %}

                            <div class="col-lg-4 col-sm-6">
                                <div class="product-card">
                                    <div class="product-card-img">
                                        <a href="{% url 'Product:detail' item.slug %}">
                                            <img src="{{ item.image_set.all.first.img.url }}" alt="تصویر محصول">
                                        </a>
                                        {% if item.discount %}
                                            <div class="product-card-tag">
                                                <h3 style="color: red">OFF %{{ item.discount }}</h3>
                                            </div>
                                        {% endif %}
                                        <ul class="product-card-action">
                                            <li>
                                                <a href="{% url 'cart:cart_add' item.id %}"><i
                                                        class='bx bx-cart'></i></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <h3><a href="{% url 'Product:detail' item.slug %}">{{ item.title }}</a></h3>
                                        <span>{{ item.price }} تومان</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-lg-12 col-md-12 text-center">
                            <div class="pagination-area">
                                <a href="#" class="prev page-numbers">
                                    <i class="bx bx-chevron-right"></i>
                                </a>

                                <span class="page-numbers current" aria-current="page">1</span>
                                <a href="#" class="page-numbers">2</a>
                                <a href="#" class="page-numbers">3</a>

                                <a href="#" class="next page-numbers">
                                    <i class="bx bx-chevron-left"></i>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="product-side-bar">
                        <div class="search-widget">
                            <form class="search-form">
                                <input name="search" type="search" class="form-control" placeholder="جستجو...">
                                <button type="submit">
                                    <i class="bx bx-search"></i>
                                </button>
                            </form>
                        </div>
                        <form>
                            <div class="product-side-bar-widget">

                                <h3 class="title">همه دسته‌بندی‌ها</h3>
                                <div class="product-side-categories">
                                    {% for item in categories %}
                                        {% if not item.parent %}
                                            <div class="checkbox-option">
                                                <input type="checkbox" name="cate" value="{{ item.title }}"
                                                       class="custom-control-input"
                                                       id="color-1">
                                                <label class="custom-control-label"
                                                       for="color-1">{{ item.title }}</label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="product-side-bar-widget">
                                <h3 class="title">قیمت</h3>
                                <div class="product-side-categories">
                                    <div id="inputRange">
                                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <label for="max">{% trans 'حداکثر قیمت (تومان)' %}</label>
                                            <input class="form-control" name="max_price" type="number" step="50000"
                                                   min="0"
                                                   max="1000000000"
                                                   id="max">
                                        </div>
                                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <label for="min">{% trans 'حداقل قیمت (تومان)' %}</label>
                                            <input class="form-control" name="min_price" type="number" step="50000"
                                                   min="0"
                                                   max="1000000000"
                                                   id="min"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                <button type="submit" class="default-btn btn-bg-one border-radius-5">اعمال فیلتر
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End -->
{% endblock %}